.card{
     display: flex;
     list-style-type: none;
     height:200px;
     width:300px;
     margin-left:15px;
}
.logo{
     height:55px;
}
.logoname{
     font-size:25px;
     font-family: "roboto";
}
.link{
     text-decoration: none;
}